<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">List of Employees</span>
      <button class="btn btn-dark btn-lg float-right" routerLink="/create-employee">
        <i class="fas fa-user-plus mr-2"></i>Add
      </button>
      <table class="table table-striped mt-4">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Document</th>
          <th>Salary</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Tomas</td>
          <td>Perez</td>
          <td>88979328B</td>
          <td>2500</td>
          <td>
            <i class="fas fa-user-edit mr-3 fa-lg text-info"></i>
            <i class="fas fa-user-slash fa-lg text-danger"></i>
          </td>
        </tr>
        <tr>
          <td>Tomas</td>
          <td>Perez</td>
          <td>88979328B</td>
          <td>2500</td>
          <td>
            <i class="fas fa-user-edit mr-3 fa-lg text-info"></i>
            <i class="fas fa-user-slash fa-lg text-danger"></i>
          </td>
        </tr>
        <tr>
          <td>Tomas</td>
          <td>Perez</td>
          <td>88979328B</td>
          <td>2500</td>
          <td>
            <i class="fas fa-user-edit mr-3 fa-lg text-info"></i>
            <i class="fas fa-user-slash fa-lg text-danger"></i>
          </td>
        </tr>

        </tbody>
      </table>
      <ul>
        <li class="text" *ngFor="let employee of employees | async">
          {{ employee.firstName }}
          {{ employee.lastName }}
        </li>
      </ul>
    </div>
  </div>
</div>
