<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">List of Employees</span>
      <button class="btn btn-dark btn-lg float-right" routerLink="/create-employee">
        <i class="fas fa-user-plus mr-2"></i>Add
      </button>
      <table class="table table-striped mt-4">
        <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Document</th>
          <th>Salary</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.document }}</td>
          <td>{{ employee.salary }}</td>
          <td>
            <i class="fas fa-user-edit mr-3 fa-lg text-info"></i>
            <i class="fas fa-user-slash fa-lg text-danger"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
