<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Add Employee</h3>

          <div *ngIf="submitted && createEmployee.invalid">
            <div class="badge badge-danger p-3">Please, fill correctly all the fields!</div>
            <div *ngIf="createEmployee.controls['firstName'].invalid
            && createEmployee.controls['firstName'].errors.required">
              First Name is required.
            </div>
            <div *ngIf="createEmployee.controls['lastName'].invalid
            && createEmployee.controls['lastName'].errors.required">
              Last Name is required.
            </div>
            <div *ngIf="createEmployee.controls['document'].invalid
            && createEmployee.controls['document'].errors.required">
              Document is required.
            </div>
            <div *ngIf="createEmployee.controls['salary'].invalid
            && createEmployee.controls['salary'].errors.required">
              Salary is required.
            </div>
          </div>

          <form [formGroup]="createEmployee" (ngSubmit)="applyEmployee()">

            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control form-control-lg" placeholder="firstName"
                       formControlName="firstName">
              </div>
              <div class="col">
                <input type="text" class="form-control form-control-lg" placeholder="Last name"
                       formControlName="lastName">
              </div>
            </div>
            <input type="text" class="form-control form-control-lg mt-4" placeholder="Document"
                   formControlName="document">
            <input type="number" class="form-control form-control-lg mt-4" placeholder="Salary"
                   formControlName="salary">

            <div class="mt-4">
              <button type="text" class="btn btn-secondary btn-lg mr-3" routerLink="list-employees">Back</button>
              <button type="submit" class="btn btn-dark btn-lg">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
