<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Add Employee</h3>
          <form>
            <div class="row mt-4">
              <div class="col">
                <input type="text" class="form-control form-control-lg" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control form-control-lg" placeholder="Last name">
              </div>
            </div>
            <input type="text" class="form-control form-control-lg mt-4" placeholder="Document">
            <input type="text" class="form-control form-control-lg mt-4" placeholder="Salary">
            <div class="mt-4">
              <button type="text" class="btn btn-secondary btn-lg mr-3" routerLink="list-employees">Back</button>
              <button type="submit" class="btn btn-dark btn-lg">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
